<ul>
    <li *ngFor="let game of games">
        <img
            [src]="'https://images.igdb.com/igdb/image/upload/t_720p/' + this.game.cover?.id + '.jpg'"
            [alt]="'تصویر کاور ' + game.name"
        />
        <h4 class="title">{{ game.name }}</h4>

        <div class="rating">
            <i class="fas fa-stars"></i>
            <p>{{ game.rating }}</p>
        </div>

        <ng-container class="on-sale" *ngIf="gameSalePercentage(game); else noSale">
            <div class="sale">
                <h4 class="price">{{ game.priceOnSale.toLocaleString() }}</h4>
                <app-toman></app-toman>
                <h5 class="percentage">{{ gameSalePercentage(game) }}%</h5>
            </div>
            <div class="price">
                <h4>{{ game.price.toLocaleString() }}</h4>
                <app-toman></app-toman>
            </div>
        </ng-container>

        <ng-template #noSale>
            <div class="price">
                <h5>{{ game.price.toLocaleString() }}</h5>
                <app-toman></app-toman>
            </div>
        </ng-template>
    </li>
</ul>
