<div class="container">
    <h2>{{ game.name }}</h2>

    <div class="genre">
        <p>Genre:</p>
        <ul>
            <li *ngFor="let genre of game.genres">{{ genre.name }}</li>
        </ul>
    </div>

    <p class="story">{{ game.summary }}</p>

    <div class="rating">
        <app-rating [value]="game.rating / 20"></app-rating>
        <p>{{ game.ratingCount * 100 + 'نظر' }}</p>
    </div>

    <iframe
        width="560"
        height="315"
        [src]="'https://www.youtube-nocookie.com/embed/' + game.videos[0].id"
        [title]="game.videos[0].name"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
    ></iframe>

    <h3>عکس‌هایی از بازی</h3>

    <ul class="screenshot">
        <li *ngFor="let photo of game.screenshots | slice: 0:3">
            <img [src]="'https://images.igdb.com/igdb/image/upload/t_720p/' + photo.id + '.jpg'" alt="کاور بازی" />
        </li>
    </ul>
</div>
