<div class="slide" [style.--current-index]="currentIndex" (click)="openGamePage()">
    <img [src]="sliderCoverImage" [alt]="game.name" />
    <div class="details">
        <h2>{{ game.name }}</h2>
        <p>{{ game.summary }}</p>
        <div class="rating-bar">
            <div>
                <b>{{ (game.rating / 20).toFixed(1) }}</b>
                <i class="fas fa-star"></i>
            </div>
            <div>
                <b>{{ toString(game.ratingCount * 100) }}</b>
                نظر
            </div>
        </div>
        <div *ngIf="isLoggedIn" class="button-bar">
            <ng-container *ngIf="isInBookmarks; else addBookmark">
                <app-button
                    text="حذف بوکمارک"
                    iconClasses="far fa-bookmark"
                    theme="outline"
                    (click)="removeFromBookmark()"
                ></app-button>
            </ng-container>
            <ng-template #addBookmark>
                <app-button
                    text="افزودن بوکمارک"
                    iconClasses="fas fa-bookmark"
                    theme="outline"
                    (click)="addToBookmarks()"
                ></app-button>
            </ng-template>
            <ng-container *ngIf="isInFavourites; else addFave">
                <app-button
                    text="حذف علاقه‌مندی"
                    iconClasses="far fa-heart"
                    theme="outline"
                    (click)="removeFromFavourites()"
                ></app-button>
            </ng-container>
            <ng-template #addFave>
                <app-button
                    text="افزودن علاقه‌مندی"
                    iconClasses="fas fa-heart"
                    theme="outline"
                    (click)="addToFavourites()"
                ></app-button>
            </ng-template>
            <app-button text="افزودن به سبد خرید" iconClasses="far fa-cart-circle-plus"> </app-button>
        </div>
    </div>
</div>
