<div class="slide" [style.--current-index]="currentIndex">
    <img [src]="sliderCoverImage" [alt]="game.name" (click)="openGamePage()" loading="lazy" />

    <div class="details">
        <h2 class="name">{{ game.name }}</h2>
        <h2 class="release-date">{{ game.persianReleaseDate }}</h2>
        <p>{{ game.summary }}</p>
        <div class="rating-bar">
            <div>
                <strong>{{ (game.rating / 20).toFixed(1) }}</strong>
                <i class="fas fa-star"></i>
            </div>
            <div>
                <strong>{{ toString(game.ratingCount * 100) }}</strong>
                نظر
            </div>
        </div>

        <div *ngIf="this.authService.cachedIsLoggedIn!" class="button-bar">
            <ng-container *ngIf="isInBookmarks; else addBookmark">
                <app-button
                    iconClasses="fas fa-bookmark"
                    iconTitle="حذف بوکمارک"
                    theme="outline"
                    (click)="removeFromBookmark()"
                ></app-button>
            </ng-container>

            <ng-template #addBookmark>
                <app-button
                    iconClasses="far fa-bookmark"
                    iconTitle="افزودن بوکمارک"
                    theme="outline"
                    (click)="addToBookmarks()"
                ></app-button>
            </ng-template>

            <ng-container *ngIf="isInFavourites; else addFave">
                <app-button
                    iconClasses="fas fa-heart"
                    iconTitle="حذف علاقه‌مندی"
                    theme="outline"
                    (click)="removeFromFavourites()"
                ></app-button>
            </ng-container>

            <ng-template #addFave>
                <app-button
                    iconClasses="far fa-heart"
                    iconTitle="افزودن علاقه‌مندی"
                    theme="outline"
                    (click)="addToFavourites()"
                ></app-button>
            </ng-template>

            <app-button text="افزودن به سبد خرید" iconTitle="افزودن به سبد خرید" iconClasses="far fa-cart-circle-plus">
            </app-button>
        </div>
    </div>
</div>
