<div class="wrapper">
    <main>
        <h1>سلام {{ user.firstName || user.username }}!</h1>
        <label id="pfp">
            <div class="overlay">
                <p>برای تغییر عکس کلیک کنید!</p>
            </div>
            <img [src]="profilePhotoSrc" alt="عکس کاربر" />
            <input type="file" accept="image/*" (change)="submitPhoto($event)" />
        </label>

        <app-editable-field
            id="username"
            title="username"
            titlePersian="نام کاربری"
            name="username"
            type="text"
            direction="ltr"
            [value]="user.username"
            [onValueChanged]="editField"
        ></app-editable-field>

        <app-editable-field
            id="email"
            title="email"
            titlePersian="ایمیل"
            name="email"
            type="email"
            direction="ltr"
            [value]="user.email"
            [onValueChanged]="editField"
        ></app-editable-field>

        <app-editable-field
            id="first-name"
            title="firstName"
            titlePersian="نام"
            name="given-name"
            type="given-name"
            [value]="user.firstName"
            [onValueChanged]="editField"
        ></app-editable-field>
        <app-editable-field
            id="last-name"
            title="lastName"
            titlePersian="نام‌خانوادگی"
            name="family-name"
            type="family-name"
            [value]="user.lastName"
            [onValueChanged]="editField"
        ></app-editable-field>

        <app-editable-field
            id="birth-date"
            title="dateOfBirth"
            titlePersian="تاریخ‌تولد"
            name="date"
            type="date"
            direction="ltr"
            [value]="user.dateOfBirth"
            [onValueChanged]="editField"
        ></app-editable-field>
    </main>
</div>
