main {
    background-color: var(--color-background-20);
    color: var(--color-gray-98);

    display: grid;
    grid-template-areas:
        "pfp username . ."
        "pfp email email ."
        "pfp first-name last-name birth-date";
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    column-gap: 1rem;
    row-gap: 2rem;

    padding: 2rem;

    border-radius: var(--border-radius-small);

    #pfp {
        grid-area: pfp;

        inline-size: fit-content;

        input {
            display: none;
        }

        img {
            block-size: fit-content;
            inline-size: 15rem;
            aspect-ratio: 1;
            object-fit: cover;

            border-radius: 50%;
        }
    }

    #username {
        grid-area: username;
    }

    #email {
        grid-area: email;
    }

    #first-name {
        grid-area: first-name;
    }

    #last-name {
        grid-area: last-name;
    }

    #birth-date {
        grid-area: birth-date;
    }
}
