.wrapper {
    display: grid;
    grid-template-areas:
        "filter count"
        "filter games";
    grid-template-columns: 17.5rem 1fr;

    .item-count {
        grid-area: count;

        background-color: red;
    }

    app-filters {
        grid-area: filter;

        background-color: transparent;

        border: 1px solid var(--color-background-75);
        border-radius: 0.25rem;
    }

    app-games-grid {
        grid-area: games;

        background-color: yellow;
    }
}
