.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    min-block-size: 100%;
    inline-size: 98vw;

    app-header {
        padding-inline: 4rem;
    }

    main {
        padding: 4rem;
    }
}

app-spinner {
    position: fixed;
}
