<div class="wrapper">
    <h1>فیلتر</h1>
    <app-button
        text="اعمال فیلتر‌ها"
        iconClasses="far fa-filter"
        theme="outline"
        onclick="onFilterSubmit()"
    ></app-button>
    <app-button
        text="حذف فیلتر‌ها"
        iconClasses="far fa-filter-slash"
        theme="text"
        onclick="clearFilters()"
    ></app-button>

    <app-expansion-list title="پلتفرم" [(items)]="searchService.platforms"></app-expansion-list>
    <app-expansion-list title="کلیدواژه" [(items)]="searchService.keywords"></app-expansion-list>
    <app-expansion-list title="نقطه دیدگاه بازیکن" [(items)]="searchService.playerPerspectives"></app-expansion-list>
    <app-expansion-list title="تم" [(items)]="searchService.themes"></app-expansion-list>
    <app-expansion-list title="دسته‌بندی" [(items)]="searchService.genres"></app-expansion-list>
    <app-expansion-list title="نوع بازی" [(items)]="searchService.gameModes"></app-expansion-list>
</div>
