<div class="wrapper">
    <div class="title" (click)="isExpanded = !isExpanded">
        <h3>{{ title }}</h3>
        <i class="far fa-angle-down" [style.transform]="isExpanded ? 'rotateZ(180deg)' : ''"></i>
    </div>
    <ul *ngIf="isExpanded">
        <li *ngFor="let item of items; index as index">
            <label>
                <input type="checkbox" [value]="item.isSelected" (change)="onToggleItemSelect(index)" />
                <p dir="ltr">{{ item.name }}</p>
            </label>
        </li>
    </ul>
</div>
