<div class="container">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <main>
        <h2 dir="ltr">Red Dead Redemption 2</h2>

        <aside>
            <img src="assets/images/Red-dead-redemption.webp" alt="red" />
            <h2 dir="ltr">Red dead</h2>
            <div class="wrapper">
                <app-button theme="contained" text="خرید"></app-button>
                <app-button theme="outline" text="افزودن به سبد خرید"></app-button>
                <app-button theme="outline" text="افزودن به علاقه‌مندی‌ها"></app-button>
                <p>سازنده: diba</p>
                <p>پخش کننده: diba</p>
                <p>تاریخ انتشار: diba</p>
                <p>پلتفرم: diba</p>
            </div>
        </aside>
    </main>
</div>
