<div
    class="wrap"
    role="group"
    [style.--min]="rangeMinimum"
    [style.--max]="rangeMaximum"
    [style.--a]="minValue"
    [style.--b]="maxValue"
>
    <input
        id="a"
        type="range"
        [min]="rangeMinimum"
        [value]="minValue"
        (input)="onValueChange($event, minValueChange)"
        [max]="rangeMaximum"
    />
    <input
        id="b"
        type="range"
        [min]="rangeMinimum"
        [value]="maxValue"
        (input)="onValueChange($event, maxValueChange)"
        [max]="rangeMaximum"
    />
</div>
