<div class="container">
    <img [src]="game.cover.getScreenShotUrl(ImageType._720P)" alt="کاور بازی" loading="lazy" />

    <div class="wrapper">
        <div class="price-info">
            <ng-container class="on-sale" *ngIf="game.salePercentage; else noSale">
                <h4 class="price-on-sale">{{ game.priceOnSale.toLocaleString() }}<app-toman></app-toman></h4>
                <h4 class="percentage">{{ game.salePercentage }}%</h4>
                <del class="price-before-sale">{{ game.price.toLocaleString() }}<app-toman></app-toman></del>
            </ng-container>

            <ng-template #noSale>
                <h4 class="price">{{ game.price.toLocaleString() }}<app-toman></app-toman></h4>
            </ng-template>
        </div>

        <div class="button-bar">
            <app-button theme="contained" text="افزودن به سبد خرید"></app-button>

            <ng-container *ngIf="isInBookmarks; else addBookmark">
                <app-button
                    iconClasses="fas fa-bookmark"
                    iconTitle="حذف بوکمارک"
                    theme="outline"
                    (click)="removeFromBookmark()"
                ></app-button>
            </ng-container>
            <ng-template #addBookmark>
                <app-button
                    iconClasses="far fa-bookmark"
                    iconTitle="افزودن بوکمارک"
                    theme="outline"
                    (click)="addToBookmarks()"
                ></app-button>
            </ng-template>
            <ng-container *ngIf="isInFavourites; else addFave">
                <app-button
                    iconClasses="fas fa-heart"
                    iconTitle="حذف علاقه‌مندی"
                    theme="outline"
                    (click)="removeFromFavourites()"
                ></app-button>
            </ng-container>
            <ng-template #addFave>
                <app-button
                    iconClasses="far fa-heart"
                    iconTitle="افزودن علاقه‌مندی"
                    theme="outline"
                    (click)="addToFavourites()"
                ></app-button>
            </ng-template>
        </div>

        <div class="row" *ngIf="developerCompanies">
            <span class="title">سازنده</span>
            <span>{{ developerCompanies }}</span>
        </div>

        <div class="row" *ngIf="publisherCompanies">
            <span class="title">ناشر</span>
            <span>{{ publisherCompanies }}</span>
        </div>

        <div class="row" *ngIf="game.persianReleaseDate">
            <span class="title">تاریخ انتشار</span>
            <span>{{ game.persianReleaseDate }}</span>
        </div>
    </div>
</div>
