<div class="container">
    <img [src]="'https://images.igdb.com/igdb/image/upload/t_720p/' + game.cover?.id + '.webp'" alt="کاور بازی" />
    <h2>{{ game.name }}</h2>
    <div class="wrapper">
        <app-button theme="contained" text="خرید"></app-button>
        <app-button theme="outline" text="افزودن به سبد خرید"></app-button>
        <app-button theme="outline" text="افزودن به علاقه‌مندی‌ها"></app-button>
        <p *ngIf="developerCompanies">سازنده: {{ developerCompanies }}</p>
        <p *ngIf="publisherCompanies">پخش کننده: {{ publisherCompanies }}</p>
        <p>تاریخ انتشار: {{ gameReleaseDate }}</p>
        <ul class="platforms">
            <ng-container *ngFor="let platform of game.platforms">
                <li *ngIf="platform.name | include: 'playstation'">
                    <i class="fab fa-playstation" [title]="platform.name"></i>
                </li>
                <li *ngIf="platform.name | include: 'xbox'">
                    <i class="fab fa-xbox" [title]="platform.name"></i>
                </li>
                <li *ngIf="platform.name | include: 'windows'">
                    <i class="fab fa-windows" [title]="platform.name"></i>
                </li>
                <li *ngIf="platform.name | include: 'mac'">
                    <i class="fab fa-apple" [title]="platform.name"></i>
                </li>
                <li *ngIf="platform.name | include: 'linux'">
                    <i class="fab fa-linux" [title]="platform.name"></i>
                </li>
                <li *ngIf="platform.name | include: 'web'">
                    <i class="fab fa-internet-explorer" [title]="platform.name"></i>
                </li>
            </ng-container>
        </ul>
    </div>
</div>
